RETENTRA_GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
RETENTRA_GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
# RETENTRA_GOOGLE_DEVICE_CODE_URL=https://oauth2.googleapis.com/device/code
